<!-- nav bar -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

   

  

    <!-- <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"> -->
    <mat-sidenav-container class="example-sidenav-container" (backdropClick)="closeSidenav()">
    
        <!-- <mat-sidenav opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]  ="mobileQuery.matches" fixedTopGap="56" [disableClose]="true"> -->
            <mat-sidenav class="mat-sidenav" [opened] ="!mobileQuery.matches" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]  ="mobileQuery.matches">
    
            <mat-nav-list class="left-nav-container">
                <a mat-list-item class="authstatusParent"> 
                    <span class="authstatus-container">
                        <span class="authstatus-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM7 12a5 5 0 0 0 10 0h-2a3 3 0 0 1-6 0H7z"/></svg>
                        </span>
                        <span class="userDisplaName">
                            <span>Toye Fakunle</span> <br>
                            <button >Logout</button>
                        </span>
                     </span>
                 </a>
                <a mat-list-item routerLink="/dashboard" (click) ="closeSidenav()" class="menuLink" routerLinkActive="active current"> <span class="menuItem"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 21V11h8v10h-8zM3 13V3h8v10H3zm6-2V5H5v6h4zM3 21v-6h8v6H3zm2-2h4v-2H5v2zm10 0h4v-6h-4v6zM13 3h8v6h-8V3zm2 2v2h4V5h-4z"/></svg>Dashboard</span></a>
                <a mat-list-item  class="menuLink" (click) ="closeSidenav()"  routerLinkActive="active current"> <span class="menuItem"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 3a3 3 0 0 0-3 3v6a3 3 0 0 0 6 0V6a3 3 0 0 0-3-3zm0-2a5 5 0 0 1 5 5v6a5 5 0 0 1-10 0V6a5 5 0 0 1 5-5zM2.192 13.962l1.962-.393a8.003 8.003 0 0 0 15.692 0l1.962.393C20.896 18.545 16.85 22 12 22s-8.896-3.455-9.808-8.038z"/></svg> Podcast</span></a>
                <a mat-list-item class="menuLink"  (click) ="closeSidenav()" routerLink="/messages" routerLinkActive="active current"> <span class="menuItem"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.535V3h8v2h-6v12a4 4 0 1 1-2-3.465zM10 19a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>Messages</span></a>
                <a mat-list-item  class="menuLink" (click) ="closeSidenav()" routerLink="/albums" routerLinkActive="active current"> <span class="menuItem"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 4.582V12a3 3 0 1 1-2-2.83V2.05c5.053.501 9 4.765 9 9.95 0 5.523-4.477 10-10 10S2 17.523 2 12c0-5.185 3.947-9.449 9-9.95v2.012A8.001 8.001 0 0 0 12 20a8 8 0 0 0 3-15.418z"/></svg> Albums</span></a>
                <a mat-list-item  class="menuLink" (click) ="closeSidenav()" routerLink="/speakers" routerLinkActive="active current"> <span class="menuItem"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/></svg>Speakers</span></a>
                <a mat-list-item  class="menuLink" (click) ="closeSidenav()" routerLink="/genre" routerLinkActive="active current"> <span class="menuItem"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 2C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>Genre</span></a>
        </mat-nav-list>
    
        </mat-sidenav>
     
        <!-- content area -->
        <mat-sidenav-content  autosize class="mat-sidenav-content" [style.paddingLeft.px] = "mobileQuery.matches ? 0 : 30" [ngClass] = "{'contentArea' : !mobileQuery.matches}">

            <mat-toolbar-row class="topnav">
                <button (click)="openSidenav()" *ngIf ="mobileQuery.matches" class="burgerMenu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h12v2H3v-2zm0 7h18v2H3v-2z"/></svg>
                </button>
              
               <span class="searchWrap">
                <mat-icon>search</mat-icon>
                    <!-- search and upload button -->
                <mat-form-field class="searchContainer" appearance="fill" [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="floatLabelControl.value" [ngClass] = "{'mobileSearch' : mobileQuery.matches}">

                    <input matInput type="search" [(ngModel)] ="value" placeholder="Search message, speaker, albums ...">
                    
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
               </span>
        
                <button class="uploadBtn" [ngClass] = "{'restyle-upload-btn' : mobileQuery.matches}"><span *ngIf="!mobileQuery.matches">UPLOAD</span><mat-icon>add</mat-icon></button>
            </mat-toolbar-row>

            <router-outlet> </router-outlet>
    

                
        <!-- footer for slider player-->
<!-- desktop-->
<div class="media-footer" *ngIf = "!mobileQuery.matches">
    <mat-toolbar  class="footer">
        <mat-toolbar-row class="media-action-bar bg-color"  [ngClass] ="{'playerBG' : mobileQuery.matches }">
            <mat-toolbar-row class="media-action-bar playerBG">
               <!-- slider-->
               <mat-toolbar-row>
                0:20<mat-slider class="time-slider" min="0" [max]="0" step="1" [value]="0" (input)="onSliderChangeEnd($event)" [disabled]=""></mat-slider> 4:20
               </mat-toolbar-row>
       
               <button mat-button>
                 <mat-icon mat-list-icon class="audioControl">skip_previous</mat-icon>
               </button>
       
               <button mat-button >
                 <mat-icon mat-list-icon>play_circle_filled</mat-icon>
               </button>
       
               <button mat-button *ngIf="">
                 <mat-icon mat-list-icon>pause_circle_filled</mat-icon>
               </button>
       
               <button  mat-button >
                 <mat-icon mat-list-icon class="audioControl">skip_next</mat-icon>
               </button>
            
             </mat-toolbar-row>

                <span class="mypodlogo" [ngClass] ="{'mypodlogoMobile' : mobileQuery.matches }">
                   mi-POD
                </span>

        </mat-toolbar-row>
    </mat-toolbar>
  </div>

<!-- mobile -->
<div class="media-footer" *ngIf = "mobileQuery.matches">
    <mat-toolbar  class="footer">
            <mat-toolbar-row class="media-action-bar playerBG">
                <!-- slider-->
                <mat-toolbar-row>
                    0:20   <mat-slider class="time-slider" min="0" [max]="0" step="1" [value]="0" (input)="onSliderChangeEnd($event)" [disabled]=""></mat-slider> 4:20
                </mat-toolbar-row>
            </mat-toolbar-row>

            <mat-toolbar-row class="media-action-bar playerBG">
               <button mat-button>
                 <mat-icon mat-list-icon class="audioControl">skip_previous</mat-icon>
               </button>
       
               <button mat-button >
                 <mat-icon mat-list-icon>play_circle_filled</mat-icon>
               </button>
       
               <button mat-button *ngIf="">
                 <mat-icon mat-list-icon>pause_circle_filled</mat-icon>
               </button>
       
               <button  mat-button >
                 <mat-icon mat-list-icon class="audioControl">skip_next</mat-icon>
               </button>
        </mat-toolbar-row>
    </mat-toolbar>
  </div>

  


        </mat-sidenav-content> 
            
     </mat-sidenav-container>
     




     
     

     
     
 
     
    </div>


