<!-- audio information -->
<div class="dialogContainer" *ngIf="!isSaving">
  <span> Provide more information on seleced audio files </span>
  <!-- audio title-->
  <mat-form-field appearance="fill">
    <mat-label>Audio Title</mat-label>
    <input matInput [(ngModel)]="data.audioTitle" required />
    <mat-error *ngIf="data.audioTitle == ''"></mat-error>
  </mat-form-field>

  <!-- audio album -->
  <mat-form-field appearance="fill">
    <mat-label>Audio Album</mat-label>
    <input matInput [(ngModel)]="data.album" />
    <!-- <mat-error *ngIf="data.album == ''"></mat-error> -->
  </mat-form-field>

  <!-- speaker -->
  <mat-form-field appearance="fill">
    <mat-label>Speaker</mat-label>
    <input matInput [(ngModel)]="data.speakerName" />
    <!-- <mat-error *ngIf="data.album == ''"></mat-error> -->
  </mat-form-field>

  <div class="buttonContainer">
    <button mat-raised-button color="primary" (click)="uploadAudio()">
      Save
    </button>
    <button mat-stroked-button (click)="task.cancel(); cancelDialog()">Cancel</button>
  </div>
</div>

<!-- uploading UI -->
<div class="taskUploadContainer" *ngIf="uploadProgress | async as pct">
  <span>Uploading</span>

  <div class="" *ngIf="uploadState | async; let state">
    <mat-progress-bar *ngIf="uploadProgress | async as pct"
      mode="determinate"
      [value]="pct"
      class="determinateSlider"
    ></mat-progress-bar>

    <div class="modifyProgress" *ngIf="uploadProgress | async as pct">
      {{pct | number}}%
       <!-- &#183; 8 seconds left -->
    </div>
  </div>

  <!-- upload complete-->
  <div class="progressInformation" *ngIf="uploadComplete">
    <span>Upload complete</span>
    <mat-icon matRipple>check</mat-icon>
  </div>
</div>
