<!-- nav bar -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">


<!-- <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"> -->
<mat-sidenav-container class="example-sidenav-container">

    <!-- <mat-sidenav opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]  ="mobileQuery.matches" fixedTopGap="56"> -->
        <mat-sidenav opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]  ="mobileQuery.matches" [disableClose]="true">

        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard"> Dashboard</a>
            <a mat-list-item routerLink="/messages"> Messages</a>
            <a mat-list-item routerLink="/albums"> Albums</a>
            <a mat-list-item routerLink="/speakers"> Speakers</a>
            <a mat-list-item routerLink="/genre"> Genre</a>
    </mat-nav-list>

    </mat-sidenav>
 
 <mat-sidenav-content>
  
 </mat-sidenav-content>


 </mat-sidenav-container>
 
 <!-- search and upload button -->
 
 
 <!-- content area -->
 
 
 
 <!-- footer for slider player-->
 
</div>