<div class="mainContainer">
  <!-- playlist -->
  <div class="FlexContainer">
    <div class="playlistHeader">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <path fill="none" d="M0 0h24v24H0z" />
        <path
          d="M2 18h10v2H2v-2zm0-7h14v2H2v-2zm0-7h20v2H2V4zm17 11.17V9h5v2h-3v7a3 3 0 1 1-2-2.83z"
        />
      </svg>
      <h3>Playlist</h3>
    </div>

    <!-- audio list-->
    <div class="audioList">
      <div class="audioTrack" *ngFor="let audio of audiofiles$; let i = index">
        <span>{{i+1}}</span>
        <span>{{audio.audioTitle}}</span>
        <span>{{audio.speakerName}}</span>
        <span>5:20</span>
        <span class="modifyButton UNPUBLISH" *ngIf="audio.status == 'published'"> <button matRipple (click)="updateStatus(audio, 'new')">UNPUBLISH</button> </span>
        <span class="modifyButton PUBLISH" *ngIf="audio.status == 'new'"> <button matRipple (click)="updateStatus(audio, 'published')">PUBLISH</button> </span>
        <span  class="modifyButton DELETE"> <button matRipple (click)="deleteAudio(audio.audioUrl,audio.id)">DELETE</button> </span>
      </div>
    </div>
  </div>
</div>
