/* You can add global styles to this file, and also import other style files */
$base-bgcolor :#22233C;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-inner-container {
    overflow: visible!important;
    width: 100%;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: $base-bgcolor;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0,0,0,.54);
    color: #fff!important;
}


.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff;
}


.mat-form-field-underline,.mat-form-field-appearance-fill .mat-form-field-underline::before {
    display: none;
}

