/* You can add global styles to this file, and also import other style files */
$base-bgcolor :#22233C;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-inner-container {
    overflow: visible!important;
    width: 100%;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: $base-bgcolor;
}